<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <base href="{{ .Site.BaseURL }}">
    <title> {{ .Title }} </title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ template "chrome/head_includes.html" . }}
</head>
<body>
    <div class="container">
        <div class="masthead">
            <ul class="nav nav-pills pull-right">
                <li><a href="https://github.com/LK4D4">github</a></li>
                <li><a href="https://twitter.com/LK4D4math">twitter</a></li>
                <li><a href="{{ .RSSLink }}" type="application/rss+xml">rss</a></li>
            </ul>
            <h3 class="muted">
                <a href="{{ .Site.BaseURL }}">LK4D4 Blog</a>
            </h3>
         </div>
         <hr>
